
<footer>
    <div class="wrap-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-footer footer-1">
                    <div class="footer-heading"><h1><span style="color: #fff;">NEWSPAPER</span></h1></div>
                    <div class="content">
                        <p>Never missed any post published in our site. Subscribe to our daly newsletter now.</p>
                        <strong>Email address:</strong>
                        <form action="#" method="post">
                            <input type="text" name="your-name" value="" size="40" placeholder="Your Email" />
                            <input type="submit" value="SUBSCRIBE" class="btn btn-3" />
                        </form>
                    </div>
                </div>
                <div class="col-md-4 col-footer footer-2">
                    <div class="footer-heading"><h4>Tags</h4></div>
                    <div class="content tagscontent">
                        <!--<a href="#">animals</a>-->
                        <!--<a href="#">cooking</a>-->
                        <!--<a href="#">countries</a>-->
                        <!--<a href="#">city</a>-->
                        <!--<a href="#">children</a>-->
                        <!--<a href="#">home</a>-->
                        <!--<a href="#">likes</a>-->
                        <!--<a href="#">photo</a>-->
                        <!--<a href="#">link</a>-->
                        <!--<a href="#">law</a>-->
                        <!--<a href="#">shopping</a>-->
                        <!--<a href="#">skate</a>-->
                        <!--<a href="#">scholl</a>-->
                        <!--<a href="#">video</a>-->
                        <!--<a href="#">travel</a>-->
                        <!--<a href="#">images</a>-->
                        <!--<a href="#">love</a>-->
                        <!--<a href="#">lists</a>-->
                        <!--<a href="#">makeup</a>-->
                        <!--<a href="#">media</a>-->
                        <!--<a href="#">password</a>-->
                        <!--<a href="#">pagination</a>-->
                        <!--<a href="#">wildlife</a>-->
                    </div>
                </div>
                <div class="col-md-4 col-footer footer-3">
                    <div class="footer-heading"><h4>Link List</h4></div>
                    <div class="content">
                        <ul>
                            <li><a href="#">MOST VISITED COUNTRIES</a></li>
                            <li><a href="#">5 PLACES THAT MAKE A GREAT HOLIDAY</a></li>
                            <li><a href="#">PEBBLE TIME STEEL IS ON TRACK TO SHIP IN JULY</a></li>
                            <li><a href="#">STARTUP COMPANY’S CO-FOUNDER TALKS ON HIS NEW PRODUCT</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copy-right">
        <p>Copyright 2015 - <a href="http://www.365bootstrap.com" target="_blank" rel="nofollow">Bootstrap Themes</a> Designed by 365Bootstrap.com</p>
    </div>
</footer>
<!-- Footer -->