
<div class="loadbutton text-center">
    <button id="readmoreBtn" onclick="appendNewsList()" class="btn btn-block btn-social btn-flat btn-facebook">
        加载更多
    </button>
</div>
<script>
    let tag = "<%= tag %>"
    let genre = "<%= genre %>"
</script>