<div class="col-md-4">
    <!---- Start Widget ---->
    <div class="widget wid-tags">
        <div class="heading"><h4>Search</h4></div>
        <div class="content">
            <form role="form" class="form-horizontal" method="get" action="/search?" + inpu>
                <input type="text" placeholder="Enter Search Keywords" value="" name="search" id="v_search" class="form-control">
            </form>
        </div>
    </div>
    <!---- Start Widget ---->
    <div class="widget wid-tags">
        <div class="heading"><h4>Tags</h4></div>
        <div class="content tagscontent">
        </div>

    </div>
    <!---- Start Widget ---->
    <div class="widget wid-comment">
        <div class="heading"><h4>Market</h4></div>
        <div class="content">
            <div class="center-block">

            <iframe allowtransparency="true" frameborder="0" height="660" src="https://s.tradingview.com/marketoverviewwidgetembed/?locale=zh#showChart=true&amp;plotLineColorGrowing=rgba(60%2C%20188%2C%20152%2C%201)&amp;plotLineColorFalling=rgba(255%2C%2074%2C%20104%2C%201)&amp;gridLineColor=rgba(233%2C%20233%2C%20234%2C%201)&amp;scaleFontColor=rgba(218%2C%20221%2C%20224%2C%201)&amp;belowLineFillColorGrowing=rgba(60%2C%20188%2C%20152%2C%200.05)&amp;belowLineFillColorFalling=rgba(255%2C%2074%2C%20104%2C%200.05)&amp;symbolActiveColor=rgba(242%2C%20250%2C%20254%2C%201)&amp;tabs=%5B%7B%22title%22%3A%22Equities%22%2C%22symbols%22%3A%5B%7B%22s%22%3A%22INDEX%3ASPX%22%2C%22d%22%3A%22S%26P%20500%22%7D%2C%7B%22s%22%3A%22INDEX%3AIUXX%22%2C%22d%22%3A%22Nasdaq%20100%22%7D%2C%7B%22s%22%3A%22INDEX%3ADOWI%22%2C%22d%22%3A%22Dow%2030%22%7D%2C%7B%22s%22%3A%22INDEX%3ANKY%22%2C%22d%22%3A%22Nikkei%20225%22%7D%2C%7B%22s%22%3A%22NASDAQ%3AAAPL%22%2C%22d%22%3A%22Apple%22%7D%2C%7B%22s%22%3A%22NASDAQ%3AGOOG%22%2C%22d%22%3A%22Google%22%7D%5D%7D%2C%7B%22title%22%3A%22Commodities%22%2C%22symbols%22%3A%5B%7B%22s%22%3A%22CME_MINI%3AES1!%22%2C%22d%22%3A%22E-Mini%20S%26P%22%7D%2C%7B%22s%22%3A%22CME%3AE61!%22%2C%22d%22%3A%22Euro%22%7D%2C%7B%22s%22%3A%22COMEX%3AGC1!%22%2C%22d%22%3A%22Gold%22%7D%2C%7B%22s%22%3A%22NYMEX%3ACL1!%22%2C%22d%22%3A%22Crude%20Oil%22%7D%2C%7B%22s%22%3A%22NYMEX%3ANG1!%22%2C%22d%22%3A%22Natural%20Gas%22%7D%2C%7B%22s%22%3A%22CBOT%3AZC1!%22%2C%22d%22%3A%22Corn%22%7D%5D%7D%2C%7B%22title%22%3A%22Bonds%22%2C%22symbols%22%3A%5B%7B%22s%22%3A%22CME%3AGE1!%22%2C%22d%22%3A%22Eurodollar%22%7D%2C%7B%22s%22%3A%22CBOT%3AZB1!%22%2C%22d%22%3A%22T-Bond%22%7D%2C%7B%22s%22%3A%22CBOT%3AUD1!%22%2C%22d%22%3A%22Ultra%20T-Bond%22%7D%2C%7B%22s%22%3A%22EUREX%3AGG1!%22%2C%22d%22%3A%22Euro%20Bund%22%7D%2C%7B%22s%22%3A%22EUREX%3AII1!%22%2C%22d%22%3A%22Euro%20BTP%22%7D%2C%7B%22s%22%3A%22EUREX%3AHR1!%22%2C%22d%22%3A%22Euro%20BOBL%22%7D%5D%7D%2C%7B%22title%22%3A%22Forex%22%2C%22symbols%22%3A%5B%7B%22s%22%3A%22FX%3AEURUSD%22%7D%2C%7B%22s%22%3A%22FX%3AGBPUSD%22%7D%2C%7B%22s%22%3A%22FX%3AUSDJPY%22%7D%2C%7B%22s%22%3A%22FX%3AUSDCHF%22%7D%2C%7B%22s%22%3A%22FX%3AAUDUSD%22%7D%2C%7B%22s%22%3A%22FX%3AUSDCAD%22%7D%5D%7D%5D&amp;utm_source=www.tradingview.com&amp;utm_medium=widget&amp;utm_campaign=marketoverview" style="box-sizing: border-box; padding-bottom: 16px; width: 100%;"></iframe>

            </div>
        </div>
    </div>
    <!---- Start Widget ---->
    <div class="widget wid-banner">
        <div class="content">
            <img src="/images/banner-2.jpg" class="img-responsive"/>
        </div>
    </div>
    <!--&lt;!&ndash;&#45;&#45; Start Widget &#45;&#45;&ndash;&gt;-->
    <!--<div class="widget wid-categoty">-->
        <!--<div class="heading"><h4>Category</h4></div>-->
        <!--<div class="content">-->
            <!--<select class="col-md-12">-->
                <!--<option>Mustard</option>-->
                <!--<option>Ketchup</option>-->
                <!--<option>Relish</option>-->
            <!--</select>-->
        <!--</div>-->
    <!--</div>-->
    <!---- Start Widget ---->
    <div class="widget wid-calendar">
        <div class="heading"><h4>Calendar</h4></div>
        <div class="content">
            <center><form action="" role="form">
                    <div class="">
                        <div class="input-group date form_date" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">                </div>
                        <input type="hidden" id="dtp_input2" value="" /><br/>
                    </div>
                </form></center>
        </div>
    </div>


    <div class="widget">

        <div class="heading"><h4>Weather</h4></div>
        <div class="content">
        <a href="https://www.accuweather.com/zh/us/new-york-ny/10007/weather-forecast/349727" class="aw-widget-legal">
            <!--
            By accessing and/or using this code snippet, you agree to AccuWeather’s terms and conditions (in English) which can be found at https://www.accuweather.com/en/free-weather-widgets/terms and AccuWeather’s Privacy Statement (in English) which can be found at https://www.accuweather.com/en/privacy.
            -->
        </a><div id="awcc1497532977994" class="aw-widget-current"  data-locationkey="" data-unit="c" data-language="zh-cn" data-useip="true" data-uid="awcc1497532977994"></div><script type="text/javascript" src="https://oap.accuweather.com/launch.js"></script>
        </div>
    </div>

    <!--&lt;!&ndash;&#45;&#45; Start Widget &#45;&#45;&ndash;&gt;-->
    <!--<div class="widget wid-tweet">-->
        <!--<div class="heading"><h4>Tweet</h4></div>-->
        <!--<div class="content">-->
            <!--<div class="tweet-item">-->
                <!--<p><i class="fa fa-twitter"></i> TLAS - Coming Soon PSD Mockup</p>-->
                <!--<a>https://t.co/dLsNZYGVbJ</a>-->
                <!--<a>#psd</a>-->
                <!--<a>#freebie</a>-->
                <!--<a>#freebie</a>-->
                <!--<a>#dribbble</a>-->
                <!--<span>July 15th, 2015</span>-->
            <!--</div>-->
            <!--<div class="tweet-item">-->
                <!--<p><i class="fa fa-twitter"></i> Little Dude Character With Multiple Hairs</p>-->
                <!--<a>https://t.co/dLsNZYGVbJ</a>-->
                <!--<a>#freebie</a>-->
                <!--<a>#design</a>-->
                <!--<a>#illustrator</a>-->
                <!--<a>#dribbble</a>-->
                <!--<span>June 23rd, 2015</span>-->
            <!--</div>-->
            <!--<div class="tweet-item">-->
                <!--<p><i class="fa fa-twitter"></i> Newsletter Subscription Form Mockup</p>-->
                <!--<a>https://t.co/dLsNZYGVbJ</a>-->
                <!--<a>#psd</a>-->
                <!--<a>#freebie</a>-->
                <!--<a>#freebie</a>-->
                <!--<a>#dribbble</a>-->
                <!--<span>June 22nd, 2015</span>-->
            <!--</div>-->
            <!--<p>Marshall, Will, and Holly on a routine expedition, met the greatest earthquake ever known. High on the rapids, it struck their tiny raft...</p>-->
        <!--</div>-->
    <!--</div>-->

</div>