<div class="col-md-3">
    <!---- Start Widget ---->
    <div class="widget wid-tags">
        <div class="heading"><h4>Search</h4></div>
        <div class="content">
            <form role="form" class="form-horizontal" method="get" action="/search?" + inpu>
                <input type="text" placeholder="Enter Search Keywords" value="" name="search" id="v_search" class="form-control">
            </form>
        </div>
    </div>
    <!---- Start Widget ---->
    <div class="widget wid-tags">
        <div class="heading"><h4>Tags</h4></div>
        <div class="content tagscontent">
            <!--<a href="#">animals</a>-->
            <!--<a href="#">cooking</a>-->
            <!--<a href="#">countries</a>-->
            <!--<a href="#">home</a>-->
            <!--<a href="#">likes</a>-->
            <!--<a href="#">photo</a>-->
            <!--<a href="#">link</a>-->
            <!--<a href="#">video</a>-->
            <!--<a href="#">travel</a>-->
            <!--<a href="#">images</a>-->
            <!--<a href="#">love</a>-->
            <!--<a href="#">lists</a>-->
            <!--<a href="#">makeup</a>-->
            <!--<a href="#">media</a>-->
            <!--<a href="#">password</a>-->
            <!--<a href="#">pagination</a>-->
            <!--<a href="#">pictures</a>-->
        </div>

    </div>
    <!---- Start Widget ---->
    <div class="widget wid-comment">
        <div class="heading"><h4>Top Comments</h4></div>
        <div class="content">
            <div class="post">
                <a href="single.html">
                    <img src="/images/ava-1.jpg" class="img-circle"/>
                </a>
                <div class="wrapper">
                    <a href="#"><h5>Curabitur tincidunt porta lorem.</h5></a>
                    <ul class="list-inline">
                        <li><i class="fa fa-calendar"></i>25/3/2015</li>
                        <li><i class="fa fa-thumbs-up"></i>1,200</li>
                    </ul>
                </div>
            </div>
            <div class="post">
                <a href="single.html">
                    <img src="/images/ava-2.png" class="img-circle"/>
                </a>
                <div class="wrapper">
                    <a href="#"><h5>Curabitur tincidunt porta lorem.</h5></a>
                    <ul class="list-inline">
                        <li><i class="fa fa-calendar"></i>25/3/2015</li>
                        <li><i class="fa fa-thumbs-up"></i>1,200</li>
                    </ul>
                </div>
            </div>
            <div class="post">
                <a href="single.html">
                    <img src="/images/ava-3.jpeg" class="img-circle"/>
                </a>
                <div class="wrapper">
                    <a href="#"><h5>Curabitur tincidunt porta lorem.</h5></a>
                    <ul class="list-inline">
                        <li><i class="fa fa-calendar"></i>25/3/2015</li>
                        <li><i class="fa fa-thumbs-up"></i>1,200</li>
                    </ul>
                </div>
            </div>
            <div class="post">
                <a href="single.html">
                    <img src="/images/ava-4.jpg" class="img-circle"/>
                </a>
                <div class="wrapper">
                    <a href="#"><h5>Curabitur tincidunt porta lorem.</h5></a>
                    <ul class="list-inline">
                        <li><i class="fa fa-calendar"></i>25/3/2015</li>
                        <li><i class="fa fa-thumbs-up"></i>1,200</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!---- Start Widget ---->
    <div class="widget wid-banner">
        <div class="content">
            <img src="/images/banner-2.jpg" class="img-responsive"/>
        </div>
    </div>
    <!---- Start Widget ---->
    <div class="widget wid-categoty">
        <div class="heading"><h4>Category</h4></div>
        <div class="content">
            <select class="col-md-12">
                <option>Mustard</option>
                <option>Ketchup</option>
                <option>Relish</option>
            </select>
        </div>
    </div>
    <!---- Start Widget ---->
    <div class="widget wid-calendar">
        <div class="heading"><h4>Calendar</h4></div>
        <div class="content">
            <center><form action="" role="form">
                    <div class="">
                        <div class="input-group date form_date" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">                </div>
                        <input type="hidden" id="dtp_input2" value="" /><br/>
                    </div>
                </form></center>
        </div>
    </div>
    <!---- Start Widget ---->
    <div class="widget wid-tweet">
        <div class="heading"><h4>Tweet</h4></div>
        <div class="content">
            <div class="tweet-item">
                <p><i class="fa fa-twitter"></i> TLAS - Coming Soon PSD Mockup</p>
                <a>https://t.co/dLsNZYGVbJ</a>
                <a>#psd</a>
                <a>#freebie</a>
                <a>#freebie</a>
                <a>#dribbble</a>
                <span>July 15th, 2015</span>
            </div>
            <div class="tweet-item">
                <p><i class="fa fa-twitter"></i> Little Dude Character With Multiple Hairs</p>
                <a>https://t.co/dLsNZYGVbJ</a>
                <a>#freebie</a>
                <a>#design</a>
                <a>#illustrator</a>
                <a>#dribbble</a>
                <span>June 23rd, 2015</span>
            </div>
            <div class="tweet-item">
                <p><i class="fa fa-twitter"></i> Newsletter Subscription Form Mockup</p>
                <a>https://t.co/dLsNZYGVbJ</a>
                <a>#psd</a>
                <a>#freebie</a>
                <a>#freebie</a>
                <a>#dribbble</a>
                <span>June 22nd, 2015</span>
            </div>
            <p>Marshall, Will, and Holly on a routine expedition, met the greatest earthquake ever known. High on the rapids, it struck their tiny raft...</p>
        </div>
    </div>

</div>