body{
    background-image: url('http://www.rgbwebsolutions.com/Resp-temp1/images/bg/image_1.jpg') !important;
}

#main-content img{
    margin: 0 auto;
}

.box .info .like a{
    border-bottom: none !important;
    box-shadow: none !important;
}

.box>.overlay,
.overlay-wrapper>.overlay,
.box>.loading-img,
.overlay-wrapper>.loading-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}
.box .overlay,
.overlay-wrapper .overlay {
    z-index: 50;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 3px
}
.box .overlay>.fa,
.overlay-wrapper .overlay>.fa {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: -15px;
    color: #000;
    font-size: 30px
}
.box .overlay.dark,
.overlay-wrapper .overlay.dark {
    background: rgba(0, 0, 0, 0.5)
}
.post .zoom-container{max-width: 150px;display: inline-block;float: left;margin-right: 5px;}


.box-comments {
    background: #f7f7f7
}
.box-comments .box-comment {
    padding: 8px 0;
    border-bottom: 1px solid #eee
}
.box-comments .box-comment:before,
.box-comments .box-comment:after {
    content: " ";
    display: table
}
.box-comments .box-comment:after {
    clear: both
}
.box-comments .box-comment:last-of-type {
    border-bottom: 0
}
.box-comments .box-comment:first-of-type {
    padding-top: 0
}
.box-comments .box-comment img {
    float: left
}
.box-comments .comment-text {
    margin-left: 40px;
    color: #555
}
.box-comments .username {
    color: #444;
    display: block;
    font-weight: 600
}
.box-comments .text-muted {
    font-weight: 400;
    font-size: 12px
}
.img-sm,
.img-md,
.img-lg,
.box-comments .box-comment img,
.user-block.user-block-sm img {
    float: left
}
.img-sm,
.box-comments .box-comment img,
.user-block.user-block-sm img {
    width: 30px !important;
    height: 30px !important
}